.navbar {
    background-color: #004aad;
    padding: 10px 20px;
    display: flex;
    gap: 20px;
    position: fixed;
    padding-top: 0%;
    top: 0;
    width: 100%;
    color: rgb(243, 235, 235);
    font-weight: bold;
    z-index: 1000;
  }
  
  .navbar a {
    color: rgb(245, 241, 241);
    text-decoration: none;
  }
  
  .navbar a:hover {
    text-decoration: underline;
  }